<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<script src= "bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/headerStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/registerModal.css">    	
</head>
<body>
	<% include templates/header.ejs %>
	<table>
		<caption>table title and/or explanatory text</caption>
		<thead>
			<tr>
				<th>header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
			</tr>
		</tbody>
	</table>
	<% include templates/footer.ejs %>
</body>
</html>