 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:10px;}
 .copyright { 
 	min-height:40px; 
 	background-color: #262735;;
 }
 .copyright p { 
 	text-align:left; 
 	color:#FFF; 
 	padding:10px 0; 
 	margin-bottom:0px;
 	font-family: 'Roboto', sans-serif;
 	font-size: 0.8em;
 }

 .col-sm-12.footer{
 	padding: 0;
 	margin-top: 5px;
 	width: 100%;
 }